{% extends 'base_site.html' %}
{% load static %}

{% block title %}
<title>Contactez-nous</title>
<style>
    input {
        display: block;
    }
</style>
{% endblock %}

{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="container">
        <nav class="breadcrumb bg-transparent m-0 p-0">
            <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
            <span class="breadcrumb-item active">Contact</span>
        </nav>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<!--<div class="container-fluid py-3">-->
<!--    <div class="container">-->
<!--        <div class="bg-light py-2 px-4 mb-3">-->
<!--            <h3 class="m-0">Contactez-nous pour toute question</h3>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-5">-->
<!--                <div class="bg-light mb-3" style="padding: 30px;">-->
<!--                    <h6 class="font-weight-bold">Prendre contact</h6>-->
<!--                    <p>Nous sommes situé dans la ville universitaire de Soa. Nous pouvez nous contacter à tout moment-->
<!--                        pour quelques questions que ce soit.</p>-->
<!--                    <p>Gloire Soit A Dieu!</p>-->
<!--                    <div class="d-flex align-items-center mb-3">-->
<!--                        <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>-->
<!--                        <div class="d-flex flex-column">-->
<!--                            <h6 class="font-weight-bold">Nos locaux</h6>-->
<!--                            <p class="m-0">25 Soa, Cameroun</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="d-flex align-items-center mb-3">-->
<!--                        <i class="fa fa-2x fa-envelope-open text-primary mr-3"></i>-->
<!--                        <div class="d-flex flex-column">-->
<!--                            <h6 class="font-weight-bold">Notre Email</h6>-->
<!--                            <p class="m-0">japeofficiel@gmail.com</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="d-flex align-items-center">-->
<!--                        <i class="fas fa-2x fa-phone-alt text-primary mr-3"></i>-->
<!--                        <div class="d-flex flex-column">-->
<!--                            <h6 class="font-weight-bold">Contactez-nous</h6>-->
<!--                            <p class="m-0">+237 698 179 241 | 672 728 481</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;            Start Form&ndash;&gt;-->
<!--            <div class="col-md-7">-->
<!--                <div class="contact-form bg-light mb-3" style="padding: 30px;">-->
<!--                    <h1>Mon formulaire en test</h1>-->
<!--                    <form method="POST" action="{% url 'contact' %}" name="sentMessage" id="contactForm">-->
<!--                        {% csrf_token %}-->
<!--                        &lt;!&ndash;                        {% if name %}&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <div id="success text-success">Merci {{ name }} de nous avoir contacté.</div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        {% else %}&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <div class="failed text-danger">Vérifiez votre formulaire</div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        {% endif %}&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <div id="success"></div>&ndash;&gt;-->
<!--                        <div class="form-row">-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="control-group">-->
<!--                                    <input name="name" type="text" class="form-control py-4" id="name" placeholder="Nom"-->
<!--                                           required="required"/>-->
<!--                                    &lt;!&ndash;                                    <p class="help-block text-danger"></p>&ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                &lt;!&ndash;                                <div class="control-group">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <input name="email" type="email" class="form-control py-4" id="email" placeholder="Email"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                           required="required"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                           data-validation-required-message="Please enter your email"/>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <p class="help-block text-danger"></p>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="control-group">-->
<!--                            <input name="subject" type="text" class="form-control py-4" id="subject" placeholder="Sujet"-->
<!--                                   required="required"/>-->
<!--                            &lt;!&ndash;                            <p class="help-block text-danger"></p>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="control-group">-->
<!--                            <textarea name="message" class="form-control" rows="4" id="message" placeholder="Message"-->
<!--                                      required="required"></textarea>-->
<!--                            &lt;!&ndash;                            <p class="help-block text-danger"></p>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"-->
<!--                                type="submit" id="sendMessageButton">Envoyer votre message-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;            End Form&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Contact End-->


<!-- Contact Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="bg-light py-2 px-4 mb-3">
            <h3 class="m-0" style="text-align: center">Contactez-nous pour toute question</h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="bg-light mb-3" style="padding: 30px;">
                    <h6 class="font-weight-bold">Prendre contact</h6>
                    <p>Nous sommes situé dans la ville universitaire de Soa. Nous pouvez nous contacter à tout moment
                        pour quelques questions que ce soit.</p>
                    <p>Gloire Soit A Dieu!</p>
                    <div class="d-flex align-items-center mb-3">
                        <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h6 class="font-weight-bold">Nos locaux</h6>
                            <p class="m-0">25 Soa, Cameroun</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <i class="fa fa-2x fa-envelope-open text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h6 class="font-weight-bold">Notre Email</h6>
                            <p class="m-0">japeofficiel@gmail.com</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-2x fa-phone-alt text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h6 class="font-weight-bold">Contactez-nous</h6>
                            <p class="m-0">+237 698 179 241 | 672 728 481</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <form method="POST" action="{% url 'contact' %}" class="bg-white rounded shadow-5-strong p-4">
                    {% csrf_token %}
                    {{ notification|safe }}
                    <div class="form-row mb-2">
                        <!--    Name input-->
                        <div class="col-md-6 me-1">
                            <div class="control-group">
                                <input name="name" type="text" class="form-control py-4" placeholder="Nom"
                                       required="required">
                            </div>
                        </div>
                        <!--        Email input-->
                        <div class="col-md-6">
                            <div class="control-group">
                                <input name="email" type="email" id="email" class="form-control py-4"
                                       placeholder="Email"/>
                                <!--            <label class="form-label" for="form1Example1">Email address</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="control-group mb-2">
                        <input type="text" name="subject" id="subjec" placeholder="Sujet" required="required"
                               class="form-control py-4">
                    </div>
                    <div class="control-group mb-2">
                        <textarea name="message" class="form-control" rows="10" id="messag" placeholder="Message"
                                  required="required"></textarea>
                        <!--                            <p class="help-block text-danger"></p>-->
                    </div>

                    <div class="control-group">
                        <!-- Checkbox -->
                        <div class="row">
                            <div class="col-1">
                                <input name="cgu_accept" class="" type="checkbox" value="" id="cgu_accept" checked/>
                            </div>
                            <div class="col-11">
                                <label class="" for="cgu_accept">Accepter les conditions d'utilisation</label>
                            </div>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block" data-mdb-ripple-init>Sign in</button>
                </form>
                <!--end test form-->
            </div>
        </div>
    </div>
</div>
<!--Contact End-->

{% endblock %}