{% extends 'base.html' %}
{% load static %}

<title>Liste des articles</title>

{% block title %}

{% endblock %}

{% block content %}

<!--START ARTICLES SECTION-->

<section class="mt-3">
    <div class="container roboto-light">
        <div class="row">
            <div class="col-lg-9 m-0">
                <div class="col-12">
                    <h1 class="text-center"><i class="fa-solid fa-book fa-xs me-2"></i>Liste des articles du blog</h1>
                </div>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-sm-6">
                        <div class="card border-0 p-0 m-0" style="width: 100%; min-height: 450px">
                            <img src="{{ post.image.url }}"
                                 class="img-hover rounded img-fluid card-img-top position-relative"
                                 alt="...">
                            <span style="font-size: small"
                                  class="position-absolute bg-danger px-1 pb-1 end-0 me-3 mt-3 rounded-3 text-white">
                                    <i class="fa-solid fa-circle p-1 fa-xs" style="color: #ffffff;"></i>
                                    Livestyle
                                </span>
                            <div class="card-body">
                                <a href="{% url 'post_view' slug=post.slug %}" class="title-link montserrat-title_card">
                                    <h5 class="card-title montserrat-title_card title-link">{{ post.title }}</h5>
                                </a>
                                <p class="card-text montserrat-card-text">{{ post.content|safe|truncatewords:18 }}.</p>
                                <div class="position-relative">
                                    <img width="47px" class="rounded-circle" src="{% static 'img/profil_app.jpg' %}"
                                         alt="image profil">
                                    <span class="h6 ms-2 montserrat-main-text title-link">{{ post.author_or_default }}</span>
                                    <i class="fa-solid fa-clock fa-xs ms-3" style="color: #0D6EFD"></i>
                                    <span class="montserrat-card-text">{{ post.created_on }}</span><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div data-sticky data-margin-top="80" data-sticky-for="767"></div>
                <div class="row">
                    <div class="col-4 p-1">
                        <div class="rounded" style="background-color: #5270A4">
                            <a href="#" class="rounded text-center text-white-force p-3 d-block"
                               style=" text-decoration: none;">
                                <i class="fab fa-facebook-square fs-5 mb-2" style="color: #ffffff;"></i>
                                <h6 class="m-0 text-white">1.5K</h6>
                                <span class="small text-white">Fans</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 p-1">
                        <div class="rounded" style="background-color: #B53C9F">
                            <a href="#" class="rounded text-center text-white-force p-3 d-block"
                               style=" text-decoration: none;">
                                <i class="fab fa-instagram-square fs-5 mb-2" style="color: #ffffff;"></i>
                                <h6 class="m-0 text-white">900K</h6>
                                <span class="small text-white">Fans</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 p-1">
                        <div class="rounded" style="background-color: #BC423F">
                            <a href="#" class="rounded text-center text-white-force p-3 d-block"
                               style=" text-decoration: none;">
                                <i class="fab fa-youtube-square fs-5 mb-2" style="color: #ffffff;"></i>
                                <h6 class="m-0 text-white">4.5K</h6>
                                <span class="small text-white">Fans</span>
                            </a>
                        </div>
                    </div>
                    <h4 class="mt-4 pb-2 montserrat-title_card"><a href="#" class="title-link">Trending topics</a></h4>
                    {% for category in categories %}
                    <div class="img-hover col-12 mt-1 mb-2 rounded"
                         style="background-image: url('{{ category.image.url }}'); background-size: cover; height: 65px">
                                <span style="font-size: small"
                                      class="position-absolute bg-danger px-1 pb-1 me-3 mt-3 rounded-3 text-white title-link">
                                    <i class="fa-solid fa-circle p-1 fa-xs" style="color: #ffffff;"></i>Livestyle
                                </span>
                    </div>
                    {% endfor %}

                    <a class="text-center text-dark" href="#">View all categories</a>

                    <div class="col-12 mt-5 mb-3 montserrat-card-text">
                        <div class="row g-2" style="height: 300px">
                            <div class="col-6 col-lg-12 p-0">
                                <div class="row g-2">
                                    <div><h4 class="montserrat-title_card title-link">Recent post</h4></div>
                                    {% for r_post in r_posts %}
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-4 img-fluid">
                                                <img class="img-fluid rounded" src="{{ r_post.image.url }}"
                                                     alt="">
                                            </div>
                                            <div class="col-8">
                                                <h6><a class="title-link" href="{% url 'post_view' slug=r_post.slug %}">{{ r_post.title }}</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-6 col-lg-12 p-0">
                                <div class="ps-1 pt-2">
                                    <img class="img-hover img-fluid w-100"
                                         src="" alt="Avertising"
                                         style="max-height: 350px; border-radius: 5%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}