{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test design</title>
    <link rel="stylesheet" href="{% static 'css/test_design.css' %}">
</head>
<body>
<div class="container">
    <h1><a href="#">Ceci est un de titre nobis odio praesentium</a></h1>
    <p class="content">
        Lorem ipsum dolor <a href="#">sit amet, consectetur adipisicing elit.
        Dolores incidunt non omnis! Aliquam dolor earum eligendi</a> nobis odio praesentium
        tenetur totam voluptatibus? Amet cupiditate earum fuga fugit itaque quis sit!
    </p>
    <p>
        <a href="#" style="color: #000; font-weight: 500;">En savoir +</a>
    </p>
</div>
</body>
</html>