@import "reset.css";

body {
    background-color: mintcream;
}

.text-menu-color {
    color: white;
}

.trend-pox {
    align-content: end;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.img-hover {
    transition: transform .5s;
}

.img-hover:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.05);
}

/*.a-link {*/
/*    position: relative;*/
/*    display: inline;*/
/*}*/

/*.a-link::after {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 3px;*/
/*    background: #000000;*/
/*    transform: scale(0);*/
/*    transition: transform 0.5s ease-in-out;*/
/*}*/

/*.a-link:hover::after {*/
/*    transform: scale(1);*/
/*}*/



/*.title-link::after {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 0%;*/
/*    height: 3px;*/
/*    background: #000000;*/
/*    transition: width 0.5s ease-in-out;*/
/*}*/

/*.title-link:hover::after {*/
/*    width: 100%;*/
/*}*/

/*soulignement progressif des textes*/

.title-link, .title-link-nav, .title-link-white {
    position: relative;
    display: inline;
}

.title-link {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size .9s;
}

.title-link-nav {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0.5) 10%, transparent 10.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size .9s;
}

.title-link-white {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0.5) 10%, transparent 10.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size .9s;
}

.title-link:hover, .title-link-nav:hover, .title-link-white:hover {
    color: inherit;
    background-size: 100% 100%;
}

/*To redefine the image*/

.img-justify {
    width: 100%;
    height: 520px;
}

.img-justify-second {
    width: 100%;
    height: 248px;
}

.img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.darkened-img {
    filter: brightness(100%);
}